*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


/* HEADER */


header{
    background-color: rgb(64,78,237);
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container{
    width: 75%;
    margin: 0 auto;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center
}

.col-25{
    width: 25%;
    text-align: center;
    vertical-align: middle;
}

.col-50{
    width: 50%;
}


ul{
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: space-between;
    font-weight: 800;
    color: white;
}

.button{
    border-radius: 15px;
    border: none;
    background-color: white;
    padding: 10px;
}


/* MAIN PRIMA RIGA */


.jumbo{
    background-image: url(../img/jumbo.png);
    background-size: 1450px;
    height: 540px;
}

.container-sm{
    width: 60%;
    margin: 0 auto;
}

.padding-20{
    padding: 20px;
}

.col-main{
    width: 60%;
    margin-top: 80px;
    color: white;
    text-align: center;
}

h1{
    margin-bottom: 35px;
    font-size: 40px;
}

p{
    margin-bottom: 25px;
}

.button-mac{
    border-radius: 15px;
    border: none;
    background-color: white;
    padding: 10px;
}

.button-browser{
    border-radius: 15px;
    border: none;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 10px;
}


/* MAIN SECONDA RIGA */

.container-main{
    width: 80%;
    margin: 150px auto;
}

.col-big{
    width: 65%;
}

.col-small{
    width: 35%;
}

h2{
    line-height: 60px;
    font-size: 50px;
    margin-bottom: 30px;
}

.p{
    font-size: 17px;
    line-height: 25px;
}

/* MAIN TERZA RIGA */

/*
.wave{
    background-image: url(../img/wave.svg);
    height: 400px;
    opacity: 0.1;
}

.wave-inverse{
    background-image: url(../img/wave.svg);
    height: 400px;
    opacity: 0.1;
    transform: rotate(180deg);

}
*/

/* MAIN QUINTA RIGA */


.col-main-five{
    text-align: center;
}

h3{
    font-size: 25px;
    margin-top: -20px;
}

.button-end{
    border-radius: 15px;
    border: none;
    background-color: rgb(46, 199, 237);
    padding: 10px;
    color: white;
    font-size: 15px;
    margin-top: 25px;
}

/* footer */


footer{
    background-color: rgba(0, 0, 0, 0.875);
    padding: 50px;
}

.row-footer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px
}

.col-footer-main{
    margin-top: 20px;
    flex-grow: 2;
}


.sezione{
    margin-top: 30px;
}

.bandiera{
    vertical-align: middle;
    width: 25px;
}

select{
    background-color: rgba(0, 0, 0, 0.0);
    color: white;
    border: none;
}

.loghi-social::after{
    content: "";
    display: table;
    clear: both;
}

i{
    float: left;
    width: 30px;
    color: white;
    margin-top: 15px;
}

.col-footer{
    flex-grow: 1;
}

.text-purple{
    color: rgb(87,101,242);
}

.hr{
    border: 0.5px solid rgb(87,101,242);
    margin-top: 20px;
}

.ul-footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

li{
    padding: 5px;
}

.row-footer-end{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-end-footer{
    border-radius: 15px;
    border: none;
    background-color: rgb(46, 199, 237);
    padding: 10px;
    color: white;
    font-size: 15px;
}

